<html>
  <head>
    <title>Bot logs</title>
    <link rel="stylesheet" href="/bot.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/png" />
  </head>
  <body>
    <div class="home">
      <h1>Logs of unauthorized edits and bot actions</h1>
      %s
    </div>
  </body>
</html>
